In [1]:
import pandas as pd

In [4]:
ad = pd.read_csv('Advertising.csv').drop(columns = "Unnamed: 0")

In [5]:
ad

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [6]:
import add_function as af

In [9]:
af.add_func(10,3)

13

In [10]:
import summary_function as sf

In [12]:
sf.summ_data(ad, 'TV')

TV sum: 29408.5

In [ ]:
#https://docs.github.com/en/migrations/importing-source-code/using-the-command-line-to-import-source-code/adding-locally-hosted-code-to-github